<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../commons/js/jquery/scripts/jquery.js"></script>
<link rel="stylesheet" href="../commons/css/awsui.css" />
<script type="text/javascript" src="../commons/js/awsui.js"></script>

<script type="text/javascript" src="../apps/com.actionsoft.apps.kms/js/com.actionsoft.apps.kms.dimensiongridPageIframe.js"></script>
<script type="text/javascript" src="../apps/com.actionsoft.apps.kms/js/com.actionsoft.apps.kms.browsecard.js"></script>
<link rel="stylesheet" href="../apps/com.actionsoft.apps.kms/css/com.actionsoft.apps.kms.browsecard.css" />
	<!--HTML EDITOR-->
	<link type='text/css' rel='stylesheet' href='../commons/plug-in/ueditor/themes/default/css/ueditor.css' />
	<script type='text/javascript' src='../commons/plug-in/ueditor/ueditor.config.js'></script>
	<script type='text/javascript' src='../commons/plug-in/ueditor/ueditor.all.js'></script>
	<script type='text/javascript' src='../commons/plug-in/ueditor/lang/zh-cn/zh-cn.js'></script>
	<script type='text/javascript' src='../commons/js/jquery/scripts/ui/aws.ueditor.config.js'></script>
	<script type='text/javascript' src='../commons/plug-in/ueditor/ueditor.parse.js'></script>
	<script type='text/javascript' src='../commons/js/jquery/scripts/jquery.md5.js'></script>
<style type="text/css">
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.content-item-iframe {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	width: 100%;
	height: 100%;
	display: block;
	border: 0px;
	overflow: auto;
}
</style>
<script type="text/javascript">
	var sid = "<#sid>";
	var uid = "<#uid>";

	var canPreviewType = "<#canPreviewType>";
	var mePhoto = "<#mePhoto>";
	var isFavoriteAppActive = <#isFavoriteAppActive>;
    var isOnlinedocAppActive = <#isOnlinedocAppActive>;
	var isNetworkAppActive = <#isNetworkAppActive>;
	var gridRowPP = <#gridRowPP>;
	var maxFileSize = <#maxFileSize>;
	var blackFileList = "<#blackFileList>";
	var today = '<#today>';
	var browserPreview = '<#browserPreview>';

	var showType = <#showType>;
	var dimensionId = '<#dimensionId>';
	var label1 = "<#label1>";
	var label2 = "<#label2>";
	var label3 = "<#label3>";
</script>
</head>
<body>
	<iframe class="content-item-iframe" frameBorder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" src="./w?sid=<#sid>&cmd=com.actionsoft.apps.kms_dimension_grid_page&dimensionId=<#dimensionId>"></iframe>
	<div id="browseCardDialog"></div>
</body>

</html>
