<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>知识中心</title>
<script type="text/javascript" src="../commons/js/jquery/scripts/jquery.js"></script>
<link rel="stylesheet" href="../commons/css/awsui.css" />
<script type="text/javascript" src="../commons/js/public.js"></script>
<script type="text/javascript" src="../commons/js/awsui.js"></script>
<script type="text/javascript" src="../apps/com.actionsoft.apps.kms/js/com.actionsoft.apps.kms.browsecard.js"></script>
<link rel="stylesheet" href="../apps/com.actionsoft.apps.kms/css/com.actionsoft.apps.kms.browsecard.css" />
<link rel="stylesheet" href="../apps/com.actionsoft.apps.kms/css/com.actionsoft.apps.kms.mgr.iframe.css" />
<script type="text/javascript" src="../apps/com.actionsoft.apps.kms/js/com.actionsoft.apps.kms.mgr.iframe.js"></script>
	<!--HTML EDITOR-->
	<link type='text/css' rel='stylesheet' href='../commons/plug-in/ueditor/themes/default/css/ueditor.css' />
	<script type='text/javascript' src='../commons/plug-in/ueditor/ueditor.config.js'></script>
	<script type='text/javascript' src='../commons/plug-in/ueditor/ueditor.all.js'></script>
	<script type='text/javascript' src='../commons/plug-in/ueditor/lang/zh-cn/zh-cn.js'></script>
	<script type='text/javascript' src='../commons/js/jquery/scripts/ui/aws.ueditor.config.js'></script>
	<script type='text/javascript' src='../commons/plug-in/ueditor/ueditor.parse.js'></script>
	<script type='text/javascript' src='../commons/js/jquery/scripts/jquery.md5.js'></script>
<script type="text/javascript">
	var sid = '<#sid>';
	var page = '<#page>';
	var tab = '<#tab>';
	var canPreviewType = "<#canPreviewType>";
	var browserPreview = '<#browserPreview>';
	var mePhoto = "<#mePhoto>";
	var isFavoriteAppActive = <#isFavoriteAppActive>;
	var isOnlinedocAppActive = <#isOnlinedocAppActive>;
	var isNetworkAppActive = <#isNetworkAppActive>;
	var hasKnwlMgrNavPerm = <#hasKnwlMgrNavPerm>;
	var hasSystemMgrPerm = <#hasSystemMgrPerm>;
	var gridRowPP = <#gridRowPP>;
	var maxFileSize = <#maxFileSize>;
	var blackFileList = "<#blackFileList>";
	var today = '<#today>';
	var label1 = "<#label1>";
	var label2 = "<#label2>";
	var label3 = "<#label3>";
	var hasOnlineLevel = "<#hasOnlineLevel>";
</script>
</head>

<body>
	<div class="top-wrap">
		<div class="top-item" indx="knwl">
			<span class="top-item-word">知识管理</span> <span class="top-item-line"></span>
		</div>
		<div class="top-item" indx="system" style="margin-left: 26px;">
			<span class="top-item-word">系统管理</span> <span class="top-item-line"></span>
		</div>
	</div>
	<div class="content-wrap">
		<div class="content-item" indx="knwl">
			<iframe indx="knwl" class="content-item-iframe" frameBorder="0"></iframe>
		</div>
		<div class="content-item" indx="system">
			<iframe indx="system" class="content-item-iframe" frameBorder="0"></iframe>
		</div>
	</div>
	<div id="browseCardDialog"></div>
</body>

</html>
