<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>知识中心</title>
<script type="text/javascript" src="../commons/js/jquery/scripts/jquery.js"></script>
<link rel="stylesheet" href="../commons/css/awsui.css" />
<script type="text/javascript" src="../commons/js/awsui.js"></script>
<link rel="stylesheet" href="../apps/com.actionsoft.apps.kms/css/com.actionsoft.apps.kms.usertask.css" />
<script type="text/javascript" src="../apps/com.actionsoft.apps.kms/js/com.actionsoft.apps.kms.usertask.js"></script>

<script type="text/javascript">
	var sid = '<#sid>';
	var formToKMSOptionDimensionIdJA = <#formToKMSOptionDimensionIdJA>;
	var usertaskDimensionTreeJson = <#usertaskDimensionTreeJson>;
</script>
</head>

<body>
	<ul id="dimensionTree"></ul>
</body>

</html>
