<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>预览</title>
<link rel="stylesheet" href="../commons/css/awsui.css" />
<style type="text/css">
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	white-space: nowrap;
	text-align: center;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

img {
	vertical-align: middle;
}
</style>
</head>

<body>
	<span class="helper"></span>
	<img alt="" src="<#url>">
</body>

</html>
